<ion-view id="page1">  
  <ion-tabs class="tabs-stable tabs-icon-top tabs-positive" id="opcoes-tab1">
    <ion-tab class = "tab tab-home"title="Controle Animal" icon="ion-gear-a" href="#/incial/controle" id="opcoes-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cadastros" icon="ion-ios-paw" href="#/incial/cadastros" id="opcoes-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Relatórios" icon="ion-clipboard" href="#/incial/relatorios" id="opcoes-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>    
  </ion-tabs>
</ion-view>