<ion-view title="Controle Animal" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="controleAnimal-list6">
      <ion-item id="controleAnimal-list-item24" ng-click="manejos()">Manejos Reprodutivos</ion-item>
      <ion-item id="controleAnimal-list-item25" ng-click="movimentacoes()">Movimentações Animais</ion-item>      
      <ion-item id="controleAnimal-list-item26" ng-click="controles()">Controles Parasitários</ion-item>
      <ion-item id="controleAnimal-list-item27" ng-click="ocorrencias()">Ocorrências Clínicas</ion-item>
      <ion-item id="controleAnimal-list-item28" ng-click="vacinacoes()">Vacinações</ion-item>
    </ion-list>
  </ion-content>
</ion-view>