<ion-view title="Cadastro Medicamento" id="page24" cache-view = "false">
  <ion-content padding="true" class="has-header">
    <h3 id="cadastroMedicamento-heading8" style="color:#000000;text-align:center;">Informações</h3>
    <form id="cadastroMedicamento-form11" class="list" name = "cadastroMedicamentoForm" ng-submit = "cadastrar(medicamento)">
      <label class="item item-input" id="cadastroMedicamento-input14">
        <input type="text" placeholder="Nome *" ng-model = "medicamento.nome" ng-required="true">
      </label>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <label class="item item-input" id="cadastroMedicamento-textarea4">
        <span class="input-label"></span><textarea placeholder="Descrição *" ng-model="medicamento.descricao" ng-required="true"></textarea></label>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <button id="cadastroMedicamento-button6" class="button icon-left button-positive  button-block ion-checkmark-circled" type = "submit" ng-disabled = "cadastroMedicamentoForm.$invalid">Salvar</button>
    </form>
    <button id="cadastroMedicamento-button7" class="button icon-left button-assertive  button-block ion-close-circled" ng-click="cancelar()">Cancelar</button>
  </ion-content>
</ion-view>