<ion-view title="Fazendas" id="page11" cache-view = "false">
  <ion-nav-buttons side="right" class="has-header">
    <button ng-click="adicionar()" class="button button-positive icon-left ion-android-add-circle">Adicionar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Procurar fazenda" ng-model="fazendaProcura">
      </label>
    </div>
    <div class="alert alert-warning" ng-show="online == false && vazio == true">
      <strong>Aviso!</strong> Você não possui nenhuma fazenda cadastrada localmente.
    </div>
    <div class="alert alert-warning" ng-show="online == true && vazio == false">
      <strong>Você possui conexão com a internet!</strong> Sincronize as fazendas cadastradas localmente com o servidor.
    </div>
    <div class="alert alert-success" ng-show="sincronismoSucesso == true">
      <strong>Operação realizada!</strong> Fazenda sincronizada com sucesso.
    </div>
    <ion-refresher pulling-text="Puxe para atualizar" on-refresh="atualizarList()"></ion-refresher>    
    <ion-list id="rebanhos-list8">
      <div ng-if="online == true">
        <ion-item ng-repeat = "fazenda in fazendas|filter:fazendaProcura" style = "text-align:left;">
            <h2>{{fazenda.nome}}</h2>
            <ion-option-button class="button-assertive icon-left ion-trash-a"
                         ng-click="deletar(fazenda)">
              Deletar
            </ion-option-button>
            <ion-option-button class="button-positive icon-left ion-edit"
                         ng-click="atualizar(fazenda)">
            Atualizar
            </ion-option-button>
        </ion-item>
      </div>
      <ion-item class = "item-icon-right" ng-repeat = "fazendaLocal in fazendasLocais|filter:fazendaProcura" style = "text-align:left;">                  
          <h2>{{fazendaLocal.nome}}</h2>
          <ion-option-button class="button-calm icon-left ion-upload"
                       ng-click="atualizarServidor(fazendaLocal)">   
              Sincronizar       
          </ion-option-button>          
          <ion-option-button class="button-assertive icon-left ion-trash-a"
                       ng-click="deletarLocal(fazendaLocal)">
            Deletar
          </ion-option-button>
          <ion-option-button class="button-positive icon-left ion-edit"
                       ng-click="atualizar(fazendaLocal)">
          Atualizar
          </ion-option-button>
          <i class="icon ion-upload" style="float:right; margin-top:0"></i>        
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-view>