<ion-view title="Raças" id="page25" cache-view = "false">
	<ion-nav-buttons side="right" class="has-header">
    	<button ng-click="adicionar()" class="button button-positive icon-left ion-android-add-circle">Adicionar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Procurar raça" ng-model="racaProcura">
      </label>
    </div>

    <div class="alert alert-warning" ng-show="online == false && vazio == true">
      <strong>Aviso!</strong> Você não possui nenhuma raça cadastrado localmente.
    </div>
    <div class="alert alert-warning" ng-show="online == true && vazio == false">
      <strong>Você possui conexão com a internet!</strong> Sincronize as raças cadastradas localmente com o servidor.
    </div>
    <div class="alert alert-success" ng-show="sincronismoSucesso == true">
      <strong>Operação realizada!</strong> Raças sincronizada com sucesso.
    </div>

  	<ion-refresher pulling-text="Puxe para atualizar" on-refresh="atualizarList()"></ion-refresher>

    <ion-list id="racas-list8">
      <div ng-if="online == true">
        <ion-item ng-repeat = "raca in racas|filter:racaProcura" style = "text-align:left;">
            <h2>{{raca.nome}}</h2>
            <ion-option-button class="button-assertive icon-left ion-trash-a"
                         ng-click="deletar(raca)">
              Deletar
            </ion-option-button>
            <ion-option-button class="button-positive icon-left ion-edit"
                         ng-click="atualizar(raca)">
            Atualizar
            </ion-option-button>
        </ion-item>      
      </div>
      <ion-item class = "item-icon-right" ng-repeat = "racaLocal in racasLocais|filter:racaProcura" style = "text-align:left;">         
          <h2>{{racaLocal.nome}}</h2>
          <ion-option-button class="button-calm icon-left ion-upload"
                       ng-click="atualizarServidor(racaLocal)">   
              Sincronizar       
          </ion-option-button>          
          <ion-option-button class="button-assertive icon-left ion-trash-a"
                       ng-click="deletarLocal(racaLocal)">
            Deletar
          </ion-option-button>
          <ion-option-button class="button-positive icon-left ion-edit"
                       ng-click="atualizar(racaLocal)">
          Atualizar
          </ion-option-button>
          <i class="icon ion-upload" style="float:right; margin-top:0"></i>         
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>